.navbarContainer{
    background-color: #212111;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
}
.detailsContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    z-index: 10;
    background-color: #000000f1;
    backdrop-filter: blur(2px);
}
.detailsPara{
    margin:1rem;
    color: aliceblue;
    font-size: medium;
    font-weight: 600;
}